<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <% @libraries.each do |library| %>
          <div class="card mb-3">
            <%= cl_image_tag library.photos.first.key, class: "card-img-top", width: 150, height: 100, crop: :fill %>
            <div class="card-body">
              <h3 class="card-title"><%= link_to library.name, library_path(library), class: "text-decoration-none" %></h3>
              <p class="card-text"><%= library.description %></p>
              <p class="card-text"><%= library.user.name %></p>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
