<div class="container">
  <%= link_to "Create new library", new_library_path, class: "btn btn-primary" if user_signed_in? %>
  <%= link_to "Browse Libraries", libraries_path, class: "btn btn-secondary" %>
  <%= link_to "edit user", edit_user_registration_path %>
</div>
