.is-ai {

}

.card-gradient {
  position: relative; /* Add this line to make the gradient overlay relative to the image */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.image-radius {
  border-radius: 4px;
}

.image-radius:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}

.image-popup:hover {
  transform: scale(1.06);
  transition: transform 0.2s;
}

.link-class {
  text-decoration: none;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.411);
  position: fixed;
  top: 10px;
  left: 7px;
  padding: 10px;
  display: flex;
  z-index: 9999;
}
