.profile-info {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: initial;
  margin-top: 4px;
  margin-right: 10px;
}
