.carousel-bg {
  background: black;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.carousel-size {
  height: 100vh;
}

.splide__slide img {
  width: 90vh;
  height: 90vh;
  object-fit: contain;
}

@media (max-width: 768px) {
  .splide__slide img {
    width: 100%;
    height: 100%;
    height: auto;
  }
}

/* Optionally, center individual slides if needed */
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.splide {
  margin-top: 5px;
}
