.sidebar-link {
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.bookmark-link {
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.text-control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}


.show-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
}

.text-remove {
  opacity: 0;
  transition: opacity 0.3s;
}

.text-remove:hover {
  opacity: 1;
}

.delete-button {
  background-color: rgb(255, 255, 255);
  color: rgb(250, 38, 38);
  border: 0px;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
}

.delete-button:hover {
  color: rgb(189, 3, 3);
  transition: color 0.3s;
}

.scan-button {
  background: linear-gradient(to top, #06b800, #10c7a8);
  text-decoration: none;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  border: 0px;

  &:hover {
    background: linear-gradient(to top right, rgb(11, 197, 230), #06b800, #10c7a8);
    background-size: 200% 200%;
    animation: gradientAnimation 1s ease-in forwards;
  }
}

.scan-button:hover {
  background-color: #141414;
}
